DATABASE_URL="postgresql://natepatrick@localhost:5432/frp_tank_quoter?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="dev-only-replace-in-prod-min-32-chars-xxxxxxxx"
EMAIL_SERVER="smtp://user:pass@smtp.mailtrap.io:2525"
EMAIL_FROM="quotes@frp-tank-quoter.local"
